:root {
    --primary-picton-blue: #36A4D9;
    --secondary-delft-blue: #1E3257;
    --accent-white-smoke: #F5F3F5;
    --accent-hunyadi-yellow: #F6AE2D;
}

header,
main,
footer {
    max-width: 800px;
}

.hero {
    display: block;
    position: relative;
}

.heading1 {
    top: 5px;
    left: 100px;
    color: var(--accent-white-smoke);
    font-family: "Racing Sans One";
    font-size: 48px;
    position: absolute;
}

.article1 {
    top: 170px;
    left: 50px;
    color: var(--accent-white-smoke);
    font-family: "STIX Two Text";
    font-size: 20px;
    position: absolute;
    background-color: rgba(246, 174, 45, 0.85);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 600px;
}

.para1 {
    opacity: 100%;
}

.image1 {
    float: right;
}

.sociallinks {
    text-decoration: none;
}