:root {
    --basic-dark-blue: darkblue;
    --white-background: white;
}

nav {
    background-color: var(--basic-dark-blue);
    padding: 10px;
}

nav a {
    color: var(--white-background);
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}

h1 {
    color: var(--basic-dark-blue);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 400px;
    margin: 10px;
    border: 0;
    padding: 10px 15px;
    background-color: var(--basic-dark-blue);
    color: var(--white-background);
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 10px;
    border-top: 1px dashed rgb(10 10 10 / 0.5);
    text-align: center;
}