* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --basic-dark-blue: darkblue;
    --white-background: #ffffff;
}

nav {
    background-color: var(--basic-dark-blue);
    padding: 10px;
}

nav a {
    color: var(--white-background);
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}

h1 {
    color: var(--basic-dark-blue);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 0;
}

aside {
    width: 400px;
    margin: 10px;
    border: 0;
    padding: 10px 15px;
    text-align: center;
    position: relative;
}

aside img {
    width: 20em;
    height: auto;
    text-align: center;
}

aside h2 {
    position: absolute;
    color: black;
    left: 60px;
}

footer {
    margin-top: 10px;
    border-top: 1px dashed rgb(10 10 10 / 0.5);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: var(--basic-dark-blue);
    color: var(--white-background);
}

.bumpdown {
    margin-top: 6rem;
}